<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8257E5">
  <title>Proffy | Sua plataforma de estudos</title>

  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/partials/page-success.css">

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
  
</head>
<body id="page-success">

  <div id="background-container">

    <!-- <img src="/images/success-background.svg" alt="background"> -->

    <div class="message-container">
      <img src="/images/icons/success-check-icon.svg" alt="Feito">
    
      <h1>Cadastro salvo!</h1>
      <p>Tudo certo, seu cadastro agora está na nossa lista de professores.<br>Agora é só ficar de olho no seu whatsapp</p>

      <a href="/study{{query.queryString}}">Acessar lista</a>
    </div>

  </div>
</body>
</html>